<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="480">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="stylesheets/screen.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{{page.title}}</title>
</head>

<body>
<div id="container">

  <header id="page-header">
    <h1>Salceanu Ioan</h1>

    <h2>Instructor auto autorizat Iasi</h2>
  </header>

  <section id="the-text">
    {{content}}
  </section>

  <section id="the-media">
    <ul>
      <li><a href="#"><img src="http://dummyimage.com/150x150/999999/333333.png" /></a></li>
      <li><a href="#"><img src="http://dummyimage.com/150x150/999999/333333.png" /></a></li>
      <li><a href="#"><img src="http://dummyimage.com/150x150/999999/333333.png" /></a></li>
      <li><a href="#"><img src="http://dummyimage.com/150x150/999999/333333.png" /></a></li>
    </ul>
  </section>
</div>
</body>
</html>
